/* Include Tailwind in your CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  touch-action: none;
  -webskit-user-drag: none;
  -webkit-perspective: 0;
  -webkit-transform: translate3d(0, 0, 0);
  overflow: hidden;
}

.card {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  user-select: none;
  /* for chrome, see: https://stackoverflow.com/questions/48701413/css-overflow-scroll-issue-in-chrome */
}
